
h2 {
  margin-top: 15px;
  text-align: center;
}

.loginCreateBox > h2{
    margin-bottom: 25px;
}

.loginCreateBox {

    width:400px;
    height:300px;
    text-align: center;
    margin:50px auto;
}
.tableHolder{
  text-align: center;
}
.table {
  margin:25px auto;
  padding:10px;
}

.container {
  display: flex;
  flex-direction: row;

}

.BalanceAndButtonsHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropDownAndEditHolder{
  display: flex;
  flex-direction: row;
}
.dropdownHomeHolder{
  text-align: right;
}
