
h2 {
  margin-top: 15px;
  text-align: center;
}

.loginCreateBox {
    width:400px;
    height:300px;
    text-align: center;
    margin:20px auto;
}
.tableHolder{
  text-align: center;
}
.table {
  margin:25px auto;
}

.container {
  display: flex;
  flex-direction: row;
  
}
