

<h3>{{ctrl.username}} 's portfolio</h3>

<div class='BalanceAndButtonsHolder'>
  <div>
    <h4>Balance: $</h4>
    </div>
    <div class='dropDownAndEditHolder'>
      <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BTC/USD
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" ng-click='ctrl.toggleBTCValue()'>BTC Price</button>
          <button class="dropdown-item" type="button" ng-click='ctrl.toggleUSDValue()'>USD Price</button>

        </div>
      </div>
      <button type="button" class="btn btn-outline-success" ng-click='ctrl.toggleEditField()'>Edit Balances</button>
      </div>
  </div>








<div class='tableHolder'>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col" ng-if='ctrl.showUSDValue'>Price USD</th>
        <th scope="col" ng-if='ctrl.showBTCValue'>Price BTC</th>
        <th scope="col">Owned</th>
        <th scope="col">Value</th>
        <th scope="col">24hr Change %</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat='(quote,value) in ctrl.quotesData.DISPLAY'>
        <th scope="row">{{value.USD.FROMSYMBOL}}</th>
        <!-- How do i get the quote in there so it knows which to get a single quote from ?  -->
        <td><a href='#' ng-click='ctrl.getQuote(quote)'>{{quote}}</a></td>
        <td ng-if='ctrl.showUSDValue'>{{value.USD.PRICE}}</td>
        <td ng-if='ctrl.showBTCValue'>{{value.BTC.PRICE}}</td>
        <td>{{ctrl.userBalance.message.balances.balanceBTC}}</td>
        <td>{{ctrl.usersUSDvalueBTC}}</td>
        <td ng-if='ctrl.showUSDValue'>{{value.USD.CHANGEPCT24HOUR}} %</td>
        <td ng-if='ctrl.showBTCValue'>{{value.BTC.CHANGEPCT24HOUR}} %</td>
      </tr>

    </tbody>
  </table>

  </div>


<div class='editForm' ng-if='ctrl.showEditField'>
  <form>
    <div class="form-group">
      <label>BTC</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceBTC}}">

    </div>
    <div class="form-group">
      <label>ETH</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceETH}}">

    </div>
    <div class="form-group">
      <label>XRP</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceXRP}}">

    </div>
    <div class="form-group">
      <label>LTC</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceLTC}}">

    </div>
    <div class="form-group">
      <label>BCH</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceBCH}}">

    </div>
    <div class="form-group">
      <label>EOS</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceEOS}}">

    </div>
    <div class="form-group">
      <label>XMR</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceXMR}}">

    </div>
    <div class="form-group">
      <label>ADA</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceADA}}">

    </div>
    <div class="form-group">
      <label>XLM</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceXLM}}">

    </div>
    <div class="form-group">
      <label>TRX</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ctrl.userBalance.message.balances.balanceTRX}}">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  </div>
