


<div class='tableHolder'>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col">Price USD</th>
        <!-- <th scope="col">Price BTC</th> -->
        <th scope="col">Owned</th>
        <th scope="col">Value</th>
        <th scope="col">24hr Change %</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat='(quote,value) in ctrl.quotesData.DISPLAY'>
        <th scope="row">{{value.USD.FROMSYMBOL}}</th>
        <!-- How do i get the quote in there so it knows which to get a single quote from ?  -->
        <td><a href='#' ng-click='ctrl.getQuote(quote)'>{{quote}}</a></td>
        <td>{{value.USD.PRICE}}</td>
        <!-- <td>{{value.BTC.PRICE}}</td> -->
        <td>{{ctrl.userBalance.message.balances.balanceBTC}}</td>
        <td>
          <p>
            value
            </p>
          </td>
        <td>{{value.USD.CHANGEPCT24HOUR}} %</td>
      </tr>

    </tbody>
  </table>
  {{ctrl.userbalance}}
  </div>
<!-- How do i access the users balances -->
